.content-wrap {
	max-width: none;
}
.navbar-youplay .navbar-nav > li > a {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.youplay-banner {
	background: #D1CEE3;
}

.slideThree {
	width: 80px;
	height: 26px;
	background: #333;
	margin: 10px auto;
	position: relative;
	border-radius: 50px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
	content: 'OFF';
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font: 12px/26px Arial, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
	content: 'ON';
	color: white;
	position: absolute;
	left: 10px;
	z-index: 0;
	font: 12px/26px Arial, sans-serif;
	font-weight: bold;
}
.slideThree label {
	display: block;
	width: 34px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	background: #fcfff4;
	background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	border-radius: 50px;
	transition: all 0.4s ease;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
	visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}
  